<header class="bg-slate-900 p-4">
  <div class="flex items-center justify-around">
    <div class="flex items-center justify-around gap-1">
      <i class="bx bx-dumbbell text-gray-100 text-3xl "></i
      ><a
        href="https://github.com/hburaks/workout-tracker-fullstack"
        class="text-gray-100 text-lg"
        >hbDevWorkoutTracker</a
      >
    </div>
    <nav
      class="min-h-16 border rounded-full flex items-center justify-between text-xs"
    >
      <a
        href="#"
        class="text-gray-300 font-semibold rounded-full hover:text-slate-800 hover:bg-white px-4 py-2"
        >Home</a
      >
      <a
        href="#"
        class="text-gray-300 font-semibold rounded-full hover:text-slate-800 hover:bg-white px-4 py-2"
        >Service</a
      >
      <a
        href="#"
        class="text-gray-300 font-semibold rounded-full hover:text-slate-800 hover:bg-white px-4 py-2"
        >Pricing</a
      >
      <a
        href="#"
        class="text-gray-300 font-semibold rounded-full hover:text-slate-800 hover:bg-white px-4 py-2"
        >Why Us</a
      >
      <a
        href="#"
        class="text-gray-300 font-semibold rounded-full hover:text-slate-800 hover:bg-white px-4 py-2"
        >Our Work</a
      >
    </nav>
  </div>
</header>
