<header class="bg-slate-900 p-3 sm:p-6 shadow-3xl shadow-zinc-400">
  <div class="flex items-center justify-between">
    <div class="flex items-center justify-around gap-1 p-0">
      <i class="bx bx-dumbbell text-gray-100 text-3xl sm:text-5xl "></i
      ><a
      href="https://github.com/hburaks/workout-tracker-fullstack"
      class="text-gray-100 text-xl sm:text-xl rounded-2xl hover:text-slate-800 hover:bg-white px-4 py-2"
    ><span>hbDevWorkoutTracker</span></a
    >
    </div>
    <nav
      class="border border-slate-700 rounded-2xl flex justify-between text-md hidden md:block h-max py-2"
    >
      <i [routerLink]="item.link" *ngFor="let item of navbarItems"
         class="cursor-pointer text-gray-300 not-italic rounded-2xl hover:text-slate-800 hover:bg-white px-5 py-2">{{item.text}}</i>
    </nav>
    <i (click)="toggleNavBar()" class='bx bx-menu text-gray-100 text-4xl block rounded-2xl md:hidden hover:text-slate-800 hover:bg-white p-1'></i>
  </div>
</header>
<app-navbar [navbarItems]="navbarItems" *ngIf="isNavbarVisible"></app-navbar>
