<app-header></app-header>
<div class="bg-slate-600 container mt-5">
  <div class="row justify-content-center">
    <h3 class="col-md-6 text-secondary text-center">
      Welcome to Workout Tracker App
    </h3>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card shadow">
        <div class="card-body align-items-center">
          <h4 class="card-title text-center">User Login</h4>

          <div class="row mt-2">
            <div class="md-4 d-flex justify-content-around">
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#newUser"
              >
                New User
              </button>

              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#existedUser"
              >
                Existed User
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
