<div>
  <div class="text-center text-3xl pt-32">
    - Pricing -
  </div>
  <div class="flex justify-between flex-row gap-12 text-center pt-10">
    <div class="rounded-edge h-40 pt-2 flex justify-center items-center flex-col w-full h-64 ">
      <div class="text-center text-lg">
        Application is completely free, but you can:
      </div>
      <button class="w-52 mt-4 pt-2 text-lg text-1b border-2 border-5a rounded-3xl py-2 px-4 hover:text-2a bg-4a hover:bg-slate-700">
        Buy me a coffee
      </button>
    </div>
  </div>
</div>
